.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://www.keele.ac.uk/media/keeleuniversity/fachumsocsci/sclhumss/filmstudies/film-studies-banner.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

.center-block {
    height: 300px;
    width: 250px;
}
/*-CW,
EP,
BS,
VZ
*/