.jumbotron {
    margin-bottom: 0px;
    background-image: url(https://www.keele.ac.uk/media/keeleuniversity/fachumsocsci/sclhumss/filmstudies/film-studies-banner.jpg);
    background-position: 0% 25%;
    background-size: cover;
    background-repeat: no-repeat;
    color: white;
}

@media screen and (min-width: 768px) {
    .resize-image {
        width: 100%;
        height: 400px;
    }
    .panel-height {
        height: 600px;
    }
}
