<!-- Setting up the first input to search for the list of movies -->
<legend></legend>
<div class="container">
    <div class="input-group form-group">
        <input type="text" class="form-control" ng-model="vm.input" placeholder="Seacrh by movie..">
        <div class="input-group-btn">
            <button type="button" class="btn btn-info" ng-click="vm.showMovies(vm.input)" ui-sref="search">Search!</button>
        </div>
    </div>
    <div class="col-xs-4" ng-repeat="info in vm.all">
        <div class="panel panel-info">
            <!-- This is where the movie search data will appear -->
            <div align="center" class="panel-heading"><b>{{info.Title}}</b></div>
            <div class="panel-body">
                <img ng-src="{{info.Poster}}" class="center-block">
                <br>
                <legend></legend>
                <p align="center"><b>Year:</b> {{info.Year}}</p>
                <legend></legend>
                <!-- The button will get more info about the movie that was selected -->
                <div align="center">
                    <button ui-sref="detail({imdb: info.imdbID})" type="button" class="btn btn-info">View Details</button>
                </div>
            </div>
        </div>
    </div>
    <div ui-view></div>
    <!-- -CW, EP, BS, VZ
 -->
